* {
	border-style:border-box;
}

.jumbotron {
	background-color:#4b5320;
}

#welcomePhoto {
	width:50%;
	margin:auto;
}

#splashscreen {
	text-align:center;
}

@font-face {
	font-family: "4077TH";
	src:url("../images/4077TH.TTF");
}

@font-face {
	font-family: "TravelingTypewriter";
	src:url("../images/TravelingTypewriter.TTF");
}

#masthead {
	font-family: "4077TH";
	text-align:center;
	color:black;
	font-size:100px;
}

.welcome_link {
	font-family: "4077TH";
	font-size:70px;
	margin-top:20px;
	text-decoration:none;
	color:white;
}


#splashscreen {
	background-color:#4b5320;
}

#clickHere {
	color:black;
	font-size:40px;
	margin:20px 20px 20px 20px;
	clear:both;
	background-color:white;
}

#submit {
	background-color:#4b5320;
	padding:20px 20px 20px 20px;
	border:black 5px;
	margin:30px 30px 30px 30px;
}

#timer, #timerText {
	font-family: "4077TH";
	position:fixed;
	top:2%;
	right:2%;
	text-align:center;
	font-size:50px;
	color:black;
	width:30%;
	background-color:white;
	border-radius:3px;
	/*border:10px #4b5320 solid;*/
}

body h3 {
	font-size:30px;
	text-align:left;
}

label {
	font-family: "TravelingTypewriter";
	padding-left:30px;
	font-size:30px;
}


#background {
	background: url(../images/mashBackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	/*background-image:url("../images/mashBackground.jpg") 100%;
	background-attachment:scroll;
	background-attachment:fixed;*/
}

.questionDiv {
	/*border:10px #4b5320 solid;*/
	margin-left:200px;
	margin-top:2%;
	padding:10px;
	overflow:auto;
	background-color:white;
	width:50%;
}

.question {
	font-size:50px;
	font-family: "TravelingTypewriter";
}

.photos {
	float:right;
	height:20%;
	width:20%;
	margin:20px;
}